.site-card-border-less-wrapper {
  padding: 1px;
  background: #ffffff;
  height: "80vh";
  border-radius: 8px;
  border: 1px solid rgb(156, 152, 152);
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-style: italic;
  font-size: small;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-style: italic;
  font-size: small;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-style: italic;
  font-size: small;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-style: italic;
  font-size: small;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  font-style: italic;
  font-size: small;
}

::placeholder {
  /* Most modern browsers support this now. */
  font-style: italic;
  font-size: small;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  border: 0px solid rgba(0, 0, 0, 0.125);
}

.list-group-item-action:focus {
  z-index: 1;
  text-decoration: none;
  background-color: #fdfdfd;
  border: 2px solid #ffa600;
}

.list-group-item:hover {
  background-color: #fdfdfd;
}
